# Compiled bytecode and Maven build directory
/target/
!**/src/main/**/target/
!**/src/test/**/target/

!.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA specific files
.idea/
*.iws
*.iml
*.ipr


# Logs and backup files
/logs/
*.log
*~
*.bak

mvnw
mvnw.cmd
.mvn